.orderaddress__wrapper {
  .address-section {
    form {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: 8px;

      width: 100%;
      .input-group {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 8px;

        .input-wrap {
          position: relative;

          label {
            font-size: 13px;
            position: absolute;
            top: 9px;
            left: 10px;
            color: #444141;
            transition: all .2s ease;
            
            &.hasValue {
              top: 1px;
              font-size: 10px;
            }
          }

          input {
            width: 100%;
            padding-inline: 10px;
            font-size: 12px;
            border-radius: 5px;
            outline: none;
            border: 1px solid #808080;
            padding-top: 14px;
            padding-bottom: 8px;
          }
        }
      }
    }
  }
}
