.orderaddress__wrapper {
  .address-section {
    form {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: 8px;

      @include tabletS {
        gap: 15px;
      }
    

      width: 100%;
      .input-group {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 8px;

        .input-wrap {
          position: relative;

          label {
            font-size: 13px;
            position: absolute;
            top: 10px;
            left: 12px;
            color: #444141;
            transition: all .2s ease;
            
            &.hasValue {
              top: 1px;
              font-size: 10px;
            }
          }

          input {
            width: 100%;
            padding-inline: 10px;
            font-size: 12px;
            border-radius: 5px;
            outline: none;
            border: 1px solid #808080;
            padding-top: 14px;
            padding-bottom: 8px;

             &.error {
              border-color: red;
             }
          }

          .error-txt {
            color: var(--color-danger);
            font-size: 12px;
          }
        }

        @include tabletS {
          gap: 15px;
          &.names, &.place, &.country {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      .submit-btn {
        border-radius: 5px;
        background-color: #646363;
        color: #ddd;
        transition: background-color .3s ease;

        &:hover {
          background-color: #555353;
          cursor: pointer;
        }
      }
    }
    .btn {
      border-radius: 5px;
      background-color: #646363;
      color: #ddd;
      transition: background-color .3s ease;

      &:hover {
        background-color: #555353;
        cursor: pointer;
      }
    }

    .shop-btn {
      margin-top: 10px;
      width: 100%;
    }
  }
}
