.disclosure__wrapper {
  width: 100%;
  background-color: #f5f5f5;
  transition: all 0.5s ease;

  .disclosure__button {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #cecbcb;

    .btn-content {
      width: 100%;
      padding-inline: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        align-items: center;
        gap: 10px;

        .arrow {
          font-size: 25px;
          color: #000000cc;
        }
      }

      p {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  .disclosure_content {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    padding-top: 5px;

    &.expand {
      height: auto;
      overflow: visible;
    }

    .item-cart {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 5px;

      .item {
        display: flex;
        justify-content: space-between;

        .left {
          position: relative;
          display: flex;
          gap: 10px;

          img {
            border: 1px solid #cecbcb;
            border-radius: 5px;
          }

          p {
            width: 60%;
            font-size: 12px;
            font-weight: 500;
          }

          .quantity {
            width: 16px;
            height: 16px;
            background-color: #808080;
            display: flex;
            justify-content: center;
            font-size: 12px;
            border-radius: 50%;
            color: #ddd;
            position: absolute;
            top: -5px;
            left: 27px;
          }
        }

        .right {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  .disclosure__amount {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    .charge {
      display: flex;
      justify-content: space-between;
    }

    .sub-total {
      p {
        font-size: 12px;
        &:nth-child(2) {
          font-weight: 700;
        }
      }
    }

    .shipping {
      p {
        font-size: 12px;
        &:nth-child(2) {
          font-weight: 700;
        }
      }
    }

    .net-amount {
      p {
        font-size: 16px;
        font-weight: 700;

        span {
          &:nth-child(1) {
            font-size: 12px;
            color: rgb(97, 87, 110);
            margin-right: 5px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
