.footer_container {
  max-width: 1720px;
  width: 100vw;
  margin: 0 auto;
  min-height: 30vh;
  margin-top: 20px;

  .site-name {
    padding-left: 10px;
    position: relative;

    .logo {
      width: 40px;
      height: 40px;
      position: relative;
    }

    span {
      color: var(--text-color);
      font-size: 24px;
      font-weight: 600;
      position: absolute;
      bottom: -7px;
      left: 60px;
    }
  }

  .about-grid {
    margin: 10px 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    row-gap: 10px;

    @include tablet {
      grid-template-columns: 1fr 1fr 2.5fr 2fr;
      margin-top: 30px;
    }

    @include laptop {
      grid-template-columns: 1fr 1fr 2fr 1fr;
      padding: 0 20px;
    }

    .news-letter {
      grid-column-start: 1;
      grid-column-end: 3;
      .title {
        font-weight: 500;
      }
      .para {
        font-size: 12px;
        @include laptopL {
          font-size: 14px;
        }
      }

      .cmp-social {
        margin-top: 10px;
        display: flex;
        gap: 20px;
        cursor: pointer;

        .social-icon{
            font-size: 20px;
            transition: scale .5s ease;
            &:hover {
                color: #000;
                scale: 110%;
            }
        }
      }

      @include tablet {
        grid-column-start: 3;
        grid-column-end: 3;
      }
    }

    .contact {
      margin: 10px 0;
      font-size: 12px;
      @include laptopL {
        font-size: 14px;
      }

      .title {
        font-size: 16px;
        font-weight: 500;
      }

      .cmp-address {
        margin: 5px 0;
      }

      .cmp-email {
        cursor: pointer;
        &:hover {
          color: #000;
        }
      }

      .cmp-phone {
        span {
          &:not(:last-child)::after {
            content: "|";
            font-weight: 500;
            padding: 0 5px;
          }
        }
      }
    }
  }

  .copyright {
    font-size: 12px;
    text-align: center;
    padding: 10px 0;

    @include laptopL {
      font-size: 14px;
    }
  }
}
