// reusable mixins
@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin cover-image($postion:center) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: $postion;
}
