@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root {
    --black-color: #000000;
    --white-color: #fff;

    --bg-color: #fff;

    --text-color: #141414;
    --text-disabled : #4a4a4a;

    --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);

    --navbar-offset : 50px;

    --color-danger : #DC3545;
    --color-success : #28a745;
}

$font: 'Hind', sans-serif;