.product-card {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;

  @include mobileL {
    height: 400px;
  }

  $hover-border-color: rgb(196, 192, 192);

  &:hover {
    cursor: pointer;
    transform: scale(105%);
  }

  .img {
    position: relative;
    width: 100%;
    flex: 2;
    border: solid $hover-border-color;
    border-width: 1px 1px 0 1px;
    transition: color 0.5s ease;
  }

  .content {
    font-size: small;
    flex: 1;
    .btns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      button {
        border: 1px solid $hover-border-color;
        background-color: transparent;
        outline: none;
        padding: 10px 0;
        &:nth-child(1) {
          border-right: none;
        }

        .icon {
          transition: all 0.5s ease;
          &:hover {
            fill: var(--hover-danger);
            cursor: pointer;
            transform: scale(125%);
          }
        }
      }
    }

    .details {
      text-align: center;
      padding: 5px 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: space-between;

      .title {
        font-weight: 600;
      }
    }
  }
}
