.productLayout__container {
  .product-sections {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    @include tabletL {
      grid-template-columns: 1fr 1fr;
    }

    .section-one {
      background-color: #b8ccdd;
      position: relative;
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobileL {
        height: 350px;
      }

      @include tabletS {
        height: 420px;
      }

      @include tabletL {
        height: auto;
      }

      .two-one-card {
        position: relative;
        width: 100%;
        height: 250px;
        max-width: 375px;
        @include mobileL {
          height: 280px;
        }
        @include tabletS {
          height: 320px;
        }
        .head {
          font-size: 70px;
          color: #fdfefe;
          font-weight: 800;
          position: absolute;
          top: 5%;
          left: 50%;
          transform: translate(-50%);
        }

        .img {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%);
          width: 90%;
          max-width: 320px;
          height: 100px;
        }

        .content {
          position: absolute;
          bottom: 12px;
          left: 50%;
          font-weight: 500;
          transform: translate(-50%);
          text-align: center;

          .price {
            color: #474444;
          }
        }
      }
    }

    .section-two {
      position: relative;
      width: 100%;
      height: 160vh;
      display: grid;
      grid-template-columns: 1fr;

      @include tabletS {
        grid-template-columns: 1fr 1fr;
        height: 100vh;
      }

      @include tabletL {
        height: 700px;
      }

      .two-cards {
        position: relative;

        &:nth-child(1) {
          background-color: #d7e0e7;
        }
        &:nth-child(4) {
          background-color: #d7e0e7;
        }

        .card-wrapper {
          position: relative;
          width: 100%;
          height: 100%;

          .img {
            width: 50%;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .content {
            position: absolute;
            bottom: 12px;
            left: 50%;
            font-weight: 500;
            transform: translate(-50%);
            text-align: center;

            .price {
              color: #474444;
            }
          }
        }
      }
    }

    .section-three {
      position: relative;
      margin: 12px 16px;

      @include tabletL {
        grid-column: 1 / 3;
      }

      .wrapper {
        padding-bottom: 10px;
        .one {
          .head {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;

            h4 {
            }

            button {
            }
          }

          .product-list {
            position: relative;
            display: grid;
            gap: 10px 10px;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            @include tabletS {
              grid-template-columns:  repeat(3, 1fr);
            }

            @include laptopL {
              grid-template-columns: repeat(4, 1fr);
            }

            @include desktopL {
              grid-template-columns: repeat(6, 1fr);
            }

            .product-card {
              position: relative;
              width: 100%;
              max-width: 300px;
              height: 300px;
              display: flex;
              flex-direction: column;

              @include mobileL {
                height: 400px;
              }
              
              .img {
                position: relative;
                width: 100%;
                flex: 2;
                border: solid rgb(196, 192, 192);
                border-width: 1px 1px 0 1px;
              }

              .content {
                font-size: small;
                flex: 1;
                .btns {
                  display: grid;
                  grid-template-columns: repeat(2, 1fr);
                  justify-content: center;
                  button {
                    border: 1px solid rgb(196, 192, 192);
                    background-color: transparent;
                    outline: none;
                    padding: 10px 0;
                    &:nth-child(1) {
                      border-right: none;
                    }
                  }

                }

                .details {
                  text-align: center;
                  padding: 0 5px;
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                  justify-content: space-between;

                  .title {
                    font-weight: 500;
                  }
                }
              }


            }
          }
        }

        .two {
        }

        .three {
        }
      }
    }
  }
}
