.mobile-nav {
    cursor: pointer;
    transition: scale .5s;
    display: flex;
    font-size: larger;

    &:hover {
        scale: 110%;
        color: var(--text-color);
    }

    .icon {
        display: flex;

    }

    @include tablet {
        display: none;
    }
}