.nav__menu {
    gap: 15px;
    color: var(--text-disabled);

    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    padding: 10px;
    height: calc(100vh - 50px);
    transition: all .5s cubic-bezier(.8,.22,.38,.79);
    z-index: 9;
    background-color: #f6f6f6;
    transform: scale(0);
    transform-origin: top right;

    &.open{
        transform: scale(1);
    }

    .mob-header {
        width: 100%;
        display: flex;
        align-items: end;
        flex-direction: column;
        padding: 10px 0;
        .line {
            margin-top: 3px;
            width: 90%;
            height: 1px;
            background-color: rgba($color: #000000, $alpha: .25);
        }

        @include tablet {
            display: none;
        }
    }

    @include tablet {
        position: static;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        height: fit-content;
        padding: 0 15px;
        transform: scale(1);
        background-color: transparent;
    }

    a {
        font-size: small;
        cursor: pointer;
        &:hover {
            scale: 105%;
            color: var(--text-color);
            font-weight: 500;
        }
    }

    a.active{
        color: var(--text-color);
        font-weight: 500;
    }
}